<body class="backgroundImage">
    
<div class="contentMiddle">
<p class="introHeader">Hello ! Welcome to <b>Whisper</b></p>
<a class="introLinks" href="/users">see the Users</a>
<a class="introLinks" href="/microposts">see the Posts</a>
</div>
</body>
